//$background-main: #0f0f0f;
//$background-light-black: #161616;
//$black-text: #0f0f0f;
//$pop-text: #B4B4B4;
//$main-color-text: #FAFAFA;
//$background-home: #6667AB;
//$main-footer-background: #161616;

$text-main: #202020;
$component-bg: #FFFFFF;
$primary-orange: #F36722;
$primary-green: #2E8D43;